@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", "sans-serif";
  font-weight: 200;

}

#main-header {

  background-color: white;
  background-size: cover;
  background-position: top;
  padding: 15px;
  height: 15%;
  position: fixed;
  width: 100%;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  width: 40px;
  margin-bottom: 20px;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 8%;
  left: 0;
}

#navbar .items-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;


}

#navbar .items-menu li a {
  color: black;
  font-weight: 300;
}

.welcome-section {
  background-color: rgb(1, 1, 27);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-section h1 {

  text-align: center;
  color: white;
}

#profile-photo {
  max-width: 30%;
  max-height: 30%;
  display: flex;
  align-items: center;
  justify-content: right;


}

#profile-photo img {
  max-width: 50%;
  max-height: 50%;
  border-radius: 50%;
  border: 3px solid white;

}

.about-section {
  background-color: rgb(1, 1, 27);
  background-size: cover;
  width: 100%;
  height: 170vh;

}

.about-section-texts {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 20px;

}

.about-section-texts p {
  width: 70%;
  background-color: rgb(255, 255, 255);
  color: rgb(1, 1, 27);
  font-weight: 200;
  border-radius: 10px;
  box-shadow: 30px;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 30px;
  margin: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);

}

@media screen and (max-width: 500px) {
  .about-section-texts p {
    max-height: 20%;
    font-size: 1.2rem;
  }

  #logo img {

    margin-bottom: 20px;
    ;
  }
}

.about-section-texts li {
  margin: 15px;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}




.projects {
  background-color: white;
  background-size: cover;
  width: 100%;
  height: 120vh;
}

#projects-header {
  text-align: center;
  color: white;
  padding: 50px;
}

.projects-grid {
  min-height: 100vh;
  padding-top: 5%;
}

.projects-grid h1 {
  text-align: center;
  color: black;
  font-size: 1.8rem;
  font-weight: 300;
}

.projects-grid .image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.projects-grid .image-container .project-tile {
  background-color: rgb(1, 1, 27);
  height: 45vh;
  width: 45vh;
  margin: 6%;
  border-radius: 15%;
  object-fit: contain;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 5%;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.projects-grid .image-container .project-tile p {
  color: white;
  font-weight: 300;
  max-width: 90%;
  max-height: 45%;

}

.projects-grid .image-container .project-tile img {
  max-width: 60%;
  max-height: 100%;
}

.projects-grid .image-container .project-tile a {
  display: flex;
  justify-content: center;
  align-items: center;
}


.contacts-area {
  background-color: rgb(1, 1, 27);
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: rgb(1, 1, 27);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
}

.contacts-area h1 {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.contacts-area li {
  background-color: rgb(255, 255, 255);
  margin: 5%;
  font-size: 1.5rem;
  padding: 5%;
  border-radius: 14px;
  ;
  font-weight: 300;
}

.contacts-area a {
  color: rgb(1, 1, 27);
  font-weight: 300;
}


footer {
  text-align: center;
  background-color: white;
  background-size: cover;
  background-position: top;
  padding: 15px;
}

footer a,
p {
  color: rgb(1, 1, 27);
  font-size: 1.2rem;
  font-weight: 300;
}

footer a {
  font-style: italic;
}